:root {
    --primary-color: #003970;
    --secondary-color: #e33167;
    
    --navbar-title-color: #ffffff;
    --navbar-background-color: #003970;
    --navbar-menu-text-color: #e2e2e2;
    --navbar-menu-text-hover-color: var(--navbar-title-color);

    --foreground-color: #444444;
}
