:root {
    --primary-color: #D4134D;
    --secondary-color: #2865AD;
    
    --navbar-title-color: #000000;
    --navbar-background-color: #EEEEEE;
    --navbar-menu-text-color: #979797;
    --navbar-menu-text-hover-color: var(--navbar-title-color);

    --foreground-color: #444444;
}
