.navbar {
    font-family: 'B612Mono';
    font-size: 16px;
    background-color: var(--navbar-background-color);
    align-items: center;
    padding: 0px;
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 0px;
}

.navbar-text-item {
    text-decoration: none;
    text-align: center;
}

.navbar-title {
    color: var(--navbar-title-color); 
    font-size: 20px;
    margin: 0px;
    font-size: 48px;
}

.navbar-menu-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.navbar-list {
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

.navbar-list-item {
    display: inline-block;
    color: var(--navbar-menu-text-color);
    transition: all 0.3s ease 0s;
    padding: 2px;
}

.navbar-list-item:hover {
    color: var(--navbar-menu-text-hover-color);
}

ul {
    display: inline-block;
}
