<style type="text/css" media="screen">

{{ $fontMontSerratLight := resources.Get "fonts/Montserrat/Montserrat-Light.ttf" }}
{{ $fontMontSerratRegular:= resources.Get "fonts/Montserrat/Montserrat-Regular.ttf" }}
{{ $fontMontSerratMedium := resources.Get "fonts/Montserrat/Montserrat-Medium.ttf" }}
{{ $fontOpenSansRegular := resources.Get "fonts/OpenSans/OpenSans-Regular.ttf" }}
{{ $fontOpenSansLight := resources.Get "fonts/OpenSans/OpenSans-Light.ttf" }}
{{ $fontOpenSansBold := resources.Get "fonts/OpenSans/OpenSans-Bold.ttf" }}
{{ $fontMono := resources.Get "fonts/B612Mono/B612Mono-Regular.ttf" }}

@font-face {
    font-family: "Montserrat-Light";
    src: url("{{ $fontMontSerratLight.Permalink }}")
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("{{ $fontMontSerratMedium.Permalink }}")
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("{{ $fontMontSerratRegular.Permalink }}")
}

@font-face {
    font-family: "OpenSans-Light";
    src: url("{{ $fontOpenSansLight.Permalink }}")
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url("{{ $fontOpenSansRegular.Permalink }}")
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("{{ $fontOpenSansBold.Permalink }}")
}


@font-face {
    font-family: "B612Mono";
    src: url("{{ $fontMono.Permalink }}")
}

</style>
