<div class="home_page_title_grid">

    <div class="home_page_background_a"></div>

    <p class="home_page_title_mono">{{nameOfPage}}</p>

    <div class="home_page_lamps">
        <svg width="164" height="210" viewBox="0 0 164 210" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M49.5 209.673C72.9721 209.673 92 199.6 92 187.173C92 174.747 72.9721 164.673 49.5 164.673C26.0279 164.673 7 174.747 7 187.173C7 199.6 26.0279 209.673 49.5 209.673Z" fill="#F2F2F2"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M99 202.673C99 175.059 76.8381 152.673 49.5 152.673C22.1619 152.673 0 175.059 0 202.673" fill="#DDE3E9"/>
            <rect x="47" width="5" height="160" fill="#DDE3E9"/>
            <g opacity="0.7">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M127 159C144.545 159 158.768 150.87 158.768 140.842C158.768 130.814 144.545 122.684 127 122.684C109.455 122.684 95.2323 130.814 95.2323 140.842C95.2323 150.87 109.455 159 127 159Z" fill="#F2F2F2"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M164 153.351C164 131.066 147.435 113 127 113C106.565 113 90 131.066 90 153.351" fill="#DDE3E9"/>
            <rect x="125" width="5" height="136" fill="#DDE3E9"/>
            </g>
        </svg>
    </div>

    <img src="assets/person.svg" class="home_page_person"/>

</div>
<div class="home_page_dev_info_grid">

    <div class="home_page_circles_container">
        <img src="/assets/circles.svg" class="home_page_circles"/>
    </div>

    <div class="home_page_dev_info_links_container">
        <p class="home_page_title_mono">{{subTextOne}}</p>

        <ul class="home_page_dev_info_link_list">
            <li *ngFor="let link of exploreLinks">
                <a href="{{link.link}}" class="home_page_dev_info_link">{{link.title}}</a>
            </li>
        </ul>
    </div>

    <img src="/assets/plants.svg" class="home_page_plants"/>

</div>
